*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 200px;
}
.parent{
    width :500px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid black;

}
.child1{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: red;
    left: 500px;
}
.child2{
    width: 100px;
    height: 100px;
    background-color: green;
}
.child3{
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: blue;
}