<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!--navbar-->
    <nav>
        <!--logo-->
        <img src="./images/logo.png" alt="" class="logo">

        <!--unordered links-->
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li><a href="">SignUp</a></li>
            <li><a href="">SignIn</a></li>
            <li><a href="">Contact</a></li>
        </ul>

    </nav>
    <!--main-->
    <main>
        <div class="row">
            <section class="card">
                <img src="./images/tanjiro.png">
                <h5>Tanjro kammado</h5>   
                <p>abc</p> 
                <button>profile</button>
            </section>
            <section class="card">
                <img src="./images/tanjiro.png">
                <h5>Tanjro kammado</h5>    
                <p>abc</p> 
                <button>profile</button>
            </section>
            <section class="card">
                <img src="./images/tanjiro.png">
                <h5>Tanjro kammado</h5>  
                <p>abc</p> 
                <button>profile</button>  
            </section>
        </div>
        <div class="row">
            <section class="card">
                <img src="./images/tanjiro.png">
                <h5>Tanjro kammado</h5>   
                <p>abc</p> 
                <button>profile</button>
            </section>
            <section class="card">
                <img src="./images/inosuke.png">
                <h5>Tanjro kammado</h5>    
                <p>abc</p> 
                <button>profile</button>
            </section>
            <section class="card">
                <img src="./images/Zenitsu.png">
                <h5>Tanjro kammado</h5>  
                <p>abc</p> 
                <button>profile</button>  
            </section>
        </div>
    </main>
    <!--footer-->
    <footer>
        <div class="address">
            <h5>Address:</h5>
        </div>
        <div class="contact">
            <p>Email</p>
            <p>Phone</p>
        </div>
    </footer>
</body>
</html>